.myDiv {
  background-color: lightblue;
  /* text-align: center; */
  position: absolute;
  overflow: auto;
}
.editingDiv {
  /* background-color: lightblue; */
  /* text-align: center; */
  position: absolute;
  /* overflow: auto; */
}
#graph_nodes {
  overflow: auto;
}
.myText {
  background-color: lightblue;
  /* text-align: center; */
  position: absolute;
  resize: none;
  border: none;
  outline: none;
}
svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}
